*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color:#081b31 ;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width: 100px;
}
img{
    
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 5rem;
}
.choice:hover{
opacity: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    font-size: 4rem;
}
.score{
    margin: 2rem;
}
.msg{
  font-size: 40px;
  color: rgb(79, 116, 79);
}
